[2021-04-06 10:33] labra opened #1 "Description of the project"
This is a first issue about describing the SAF-Lux project.

[2021-04-06 10:35] labra opened #2 "Create an RDF/XML file example following the CIDOC/CRM model"
Add an RDF/XML file containing an example that follows the CIDOC/CRM model

[2021-04-06 12:28] andrawaag opened #3 "Maintain a grouping of the properties in Wikibase"
In the DMG sheet where mapping between the CIDOCCRM and Wikibase properties are being maintained there is a grouping of the different properties. It is important to maintain that order as it is depicted in the DMG sheet. Implicitly this can be achieved by creating the properties in the required order, but it might be saver to make that order explicit. This is similar to Wikidata where P31 en P279

[2021-04-06 16:42] joelthill commented on #2
thanx José!
j.

[2021-04-06 16:42] #2 closed

[2021-04-07 07:25] mzeinstra commented on #2
For the documentation this is about https://github.com/weso/SAF-Lux/blob/main/examples/examplesFromSAF.xml or this commit: https://github.com/weso/SAF-Lux/commit/9293944f448a2b988aa9ec775a665dd55ec6f963

[2021-04-14 08:59] joelthill opened #4 "Bug in SAF-Lux/examples/examplesFromSAF.xml export"
a correct actor appellation should look like the one you produce for e.g. Willibrordus:

 <crm:E82_Actor_appellation>
        <efr:R8_consists_of>
          <crm:E90_Symbolic_Object>
            <rdfs:label>name</rdfs:label>
            <crm:P2_has_type>
              <crm:E55_Type rdf:about="http://example.org/afl/direct">
                <rdfs:label xml:lang="en">Direct order</rdfs:label>

[2021-04-14 09:59] joelthill commented on #4
closed - my mistake

[2021-04-14 09:59] #4 closed

[2021-04-16 11:25] mzeinstra commented on #3
Can we operationalise this? Who is assigned to this ticket. What is the process to do in order to close this issue?

[2021-04-19 10:29] andrawaag commented on #3
Maybe @JeroenDeDauw?

What is needed to close is a description on how to cluster properties differently to the default numerical sequence. This is for example similar to the properties P31 and P279 in Wikidata always be first. How can this be replicated in Wikibase and to what detail? (e.g. how many subgroups)

[2021-04-19 11:12] JeroenDeDauw commented on #3
As far as I know there is no way to order statements by property in the UI, beyond using this grouping feature. I'd be very surprised if the order can be saved on a data model or on a per-item level.

As to the grouping feature: I am not familiar with it and would need to ask on the Wikibase community chat how to use it.

[2021-04-19 11:32] andrawaag commented on #3
What is this grouping feature you refer to and how detailed is it?

[2021-04-19 18:41] JeroenDeDauw commented on #3
I was referring to what you wrote, so you tell me. I don't know.

[2021-04-20 17:12] JeroenDeDauw commented on #3
I can confirm that you cannot add references for a qualifier. I also can't think of further options that would be better than the ones listed. In SMW you could use "subobjects" but there is no equivalent in Wikibase (beyond creating multiple dedicated items).

How to best represent the data within the limits of the Wikibase software is really a data modelling question, not my area of expertise. Yo

[2021-04-20 18:58] andrawaag commented on #3
No, it is a different - simpler - issue. If you go to any Wikidata item, P31 (instance of) and/or P279 (subclass of) is always on top, although properties with lower numbers follow afterwards. By default, the numbers are following each other (1 follows 2, follows 3) etc. So there is a mechanism in place that allows a different order. I would like to know where in Wikibase P31 and P279 are configur

[2021-04-20 19:32] andrawaag commented on #3
The Wikibase community was quick :)
The feature is called SortedProperties and documented [here](https://www.mediawiki.org/wiki/Manual:Interface/Wikibase-SortedProperties).

[2021-04-20 19:32] #3 closed

[2021-06-17 11:12] andrawaag opened #5 "Adding the version of the applicable CIDOC-CRM as metadata to the DMG.xls file"
The [DMG](https://github.com/weso/SAF-Lux/blob/main/import_scripts/property_builder/DM_SAF_vers.1.0.1.xlsx) captures the mappings between CIDOC-CRM and the SAF Wikibase in Luxembourg.

Can we add the applicable version of CIDOC-CRM to the excel file.

[2021-06-17 12:07] andrawaag opened #6 "separating the different note types in distinct properties"
Currently the model in [DMG](https://github.com/weso/SAF-Lux/blob/main/import_scripts/property_builder/DM_SAF_vers.1.0.1.xlsx) contains a field about note, where in CL2 the types are defined. I would propose to separate those in distinct properties in Wikibase. ie. internal note and public note.

[2021-06-17 12:09] andrawaag opened #7 "Which date data types to use?"
Currently both the time and edtf datetypes are supported in Wikibase. Do we stick to EDTF for all timestamps, or are there cases where EDTF is not needed (e.g. system time stamps)

[2021-06-17 12:14] andrawaag opened #8 "Entering the superclass and subclass of source type directly to Wikibase"
Currently [DMG](https://github.com/weso/SAF-Lux/blob/main/import_scripts/property_builder/DM_SAF_vers.1.0.1.xlsx)  lists a hierarchy for source of information. I would recommend removing this from DMG (or add it to a separate sheet).

[2021-06-17 12:21] andrawaag opened #9 "Move CL7 to distinct properties in Wikibase"
The current model in [DMG](https://github.com/weso/SAF-Lux/blob/main/import_scripts/property_builder/DM_SAF_vers.1.0.1.xlsx)  contains a controlled list of identifier scheme's, but I propose to move those identifiers to direct external id properties

[2021-06-17 12:28] andrawaag opened #10 ""Attributed by the system" is not supported by Wikibase"
The [DMG](https://github.com/weso/SAF-Lux/blob/main/import_scripts/property_builder/DM_SAF_vers.1.0.1.xlsx)  currently has a few fields that are assigned as to be "Attributed by the system", however Wikibase currently does not support automatic population of properties. User and version history is captured as metadata in Wikibase, but this is in a separate database that is not part of the linked d

[2021-06-17 12:30] andrawaag commented on #10
There is the exception for  "date of creation" and " date of modification". However these are part of the standard metadata of a Wikibase item and not visible in the user facing interface

[2021-06-17 13:06] mzeinstra commented on #9
I agree with this. Each external identifier should be its own property

[2021-06-17 13:07] mzeinstra commented on #10
Than this will be done by robot, made by 1024. Which properties are these?

[2021-06-17 13:07] mzeinstra commented on #8
Can you make a proposal DMG document where you do this?

[2021-06-17 13:08] mzeinstra commented on #7
We will only use EDTF when the possible expression calls for it. So not for system time stamps

[2021-06-17 13:09] mzeinstra commented on #6
I agree, please do this in your example implementation

[2021-06-17 13:09] mzeinstra commented on #5
Please do so @andrawaag

[2021-06-18 08:34] andrawaag opened #11 "Jupyter -> python script/library"
Currently all scripts in this repo are expressed as jupyter notebooks. For bots it would make sense to have them available as python scripts or a python library.

[2021-06-18 09:43] mzeinstra commented on #8
This is part of the OWL model, it can be removed from the DMG.

[2021-06-18 10:16] mzeinstra opened #12 "Ideal SHeX for CIDOC-CRM"
I need a SHeX file of the CIDOC-CRM implementation of the DMG so WP5 can work on importscripts.

[2021-06-18 12:04] mzeinstra commented on #5
This has been discussed the CIDOC CRM version will be placed on top of the DMG file

[2021-06-18 12:04] mzeinstra commented on #10
After discussion this issue is not high priority at the moment. It will be dealt with after an initial implementation

[2021-06-18 12:05] mzeinstra commented on #9
During discussion with WP3 it was agreed that this is ok to do, as long as this can be mapped back to the CIDOC-CRM model.

[2021-06-18 12:05] mzeinstra commented on #8
@andrawaag you can remove this from your 1.2.0 version

[2021-06-18 12:06] mzeinstra commented on #7
My comment was confirmed during the meeting

in V1.2.0 @andrawaag will introduce "EDTF" as a separate datatype.

[2021-06-18 12:08] mzeinstra commented on #6
See #9 it is agreed to make this into separate properties as long as they can be mapped back to v1.1.0 structure

@andrawaag will implement this in the the ingestion script

[2021-06-18 12:10] mzeinstra commented on #1
@labra I've added the factsheet of the project to this repo: https://github.com/weso/SAF-Lux/blob/main/Factsheet%20SAF.pdf

[2021-06-18 12:10] mzeinstra commented on #10
Closing this issue until WP5 opens a specific one.

[2021-06-18 12:10] #10 closed

[2021-06-27 13:30] andrawaag opened #13 "Example data field mismatch"
Currently, the example data is provided as a two-dimensional data frame, where multiple dimensions are stored with field separators (i.e. ";") within a single cell. This is error-prone because the structure is implicit. We can only assume that the field order is consistent across fields.

In the example, data already contains such an inconsistency :
`['Willibrordus', 'Willibrordus', 'Clemens Willi

[2021-06-27 14:02] andrawaag opened #14 "Example data contains mixed data types."
The example data has values within one field with mixed datatypes. This sometime creates issue while parsing the code to be serialized in Wikibase. For example the field "Alternative / other form(s) of name:Type", contains value of type "None", string and int.
These values represent the direct versus the indirect form of the data, and need to be split. The split function chokes on int values. A te

[2021-06-27 14:39] mzeinstra commented on #13
Good catch Andra,

I think it is ok to have this uploaded with the assumption that the order is consistent. With a SHeX of the CIDOC we can build propoer ingest tooling based on an commonly accepted RDF structure.

[2021-06-27 15:01] andrawaag opened #15 "Multilinguality in the import data"
Multilinguality in the import data is currently treated as alternative names. e.g.
"de Lutzemburgo', 'von Luxemburg', 'de Lutzenburgo'"
Wikibase however supports language tags. A parser for the import data requires explicit language tags to be able to assign those in WIkibase. In future structures of the multilingual names and titles, a different hierarchy is needed that includes explicit language

[2021-06-30 07:30] andrawaag opened #16 "The DMG file does not contain Luxembourgish labels"
The import scripts in this repository support 4 languages, (lu, de, en, and fr). The DMG currently lacks labels in Luxembourgish.

[2021-06-30 07:34] andrawaag opened #17 "EDTF is not yet support by the common batch libraries"
EDTF as date standard is currently supported through an extension on wikibase. Direct import (through the browser) is currently possible, however, batch uploads of data require libraries like Quickstatements, Open Refine and the Wikidata Integrator (WDI). Here EDTF support still needs to be implemented.

I am working on support for EDTF in WDI. Support for EDTF will become available in one of the

[2021-07-02 06:02] labra commented on #12
I have changed the E82_Actor_Appellation by E41_Appellation.

The main pending task is to add source of information and review the lines that have changed. I expect to do it next week.

[2021-07-02 07:15] mzeinstra commented on #12
Hi @labra could you point to the document where you made these changes?

[2021-07-02 08:04] labra commented on #12
It will be [here](https://github.com/weso/SAF-Lux/blob/main/shex/rules_1.0.1.shex)

[2021-07-02 08:56] digitaalwerktuig opened #18 "Imported refs aren't seperated out, based on their semicolons"
As was spotted during the demo by Lucien.

[2021-07-02 09:26] andrawaag commented on #18
The example data contains indeed a set of URL's. However, the bot indeed does not separate multiple URLs if they are provided. To solve this a decision need to be made if the source of information, only contains 1 URL or more. Related to that, if multiple URL's are going to be accepted will that number of URLs have the same number of textual references. This issues relate to the cases where the nu

[2021-07-02 09:26] andrawaag commented on #18
This is similar to: https://github.com/weso/SAF-Lux/issues/13

[2021-07-03 07:45] labra opened #19 "Repeated source of information declarations in Excel sheet data model"
The excel sheet that describes the data model repeats the declarations of source of information for most of the fields.

This can be a error-prone and difficult to maintain if someone wants to change the contents of source of information because it would require to change in all the places. One possibility would be to split the definition in another tab and refer to it from the different places.

[2021-07-03 08:13] labra opened #20 "Source of information model"
This isue refers to Excel sheet version 1.0.1

Some notes:

- Value of cell D17 is E21_Person...should it be E41_Appellation?

[2021-07-04 15:33] labra opened #21 "Some notes on DM_SAF_1.0.1 PDF diagram"
Some notes about the diagram

- [ ] Node "P70_is_documented_in" should be "P70i_is_documented_in"
- [ ] Missing link between node node "E7 Activity (lbl: profession)" and "P70i_is_documented_in"

[2021-07-04 15:45] labra opened #22 "Replace string based rdfs:labels in CIDOC_CRM representation by proper nodes"
In the previous representation we were using the rdfs:label property to represent the labels in the PDF diagram using xsd:string literal values.

For example:

[code]

One problem of literal values in RDF is that they are terminal and it is not possible to further annotate them, so if we want to attach multilingual labels, we have to associate them directly to the name node which is redundant and

[2021-07-04 17:53] labra opened #23 "Namespace for shared authority file entities"
In order to represent entities from the shared autority file namespace it would be better to have a [Cool URL](https://www.w3.org/Provider/Style/URI) that represents those entities.

It would be useful, for example, to represent shapes or ontology entities as well as some instances from the SAF Lux project. At this moment, for example, the CIDOC-CRM based RDF representation is using the prefix `af

[2021-07-04 18:01] labra commented on #12
I have updated the file to adapt to the contents of the Excel sheet.

- Removed the line numbers because they were difficult to maintain as it is easy to add/remove lines in Excel, but keeping track of those changes in the ShEx file is a very error-prone.
- Joined all the source of information in a single shape because it makes the ShEx file more maintainable and follow the [DRY](https://en.wikipe

[2021-07-05 07:45] mzeinstra commented on #23
Excellent point that we need to raise.

Would that URI need to be resolvable? i.e. from outside the government network?

[2021-07-05 07:48] mzeinstra commented on #22
Who needs to resolve this issue? Is this something for Michelle to decide on, or is this a design choice that you can make yourself?

[2021-07-05 07:50] mzeinstra commented on #16
This was not a high priority yet and we should not let the project be blocked by this.

[2021-07-05 07:54] mzeinstra commented on #15
This will most likely resolve itself when data from the institutions use the ShEx of the CIDOC ontology to structure and format their data.

[2021-07-05 09:18] labra commented on #22
I took the decision by now in the ShEx file but I wanted to let you know about it and it may be good if someone else could give the go-ahead.

[2021-07-05 09:24] labra commented on #23
I think it should be ideally be resolvable.

I think something like this would be ok: [http://id.loc.gov/datatypes/edtf/](http://id.loc.gov/datatypes/edtf/)

In case you still don't have a clear URI in mind, one alternative is to use services like: [w3id](https://w3id.org/) or [purl](https://purl.org/).

[2021-07-13 15:42] joelthill commented on #14
Excel will allow me to force INT to STRING by prefixing the number with a ', but in the absence of data, it will very likely remain NONE. Putting just a quote may be a workaround, but then again, it might be easier to cast it systematically in your script ?

[2021-07-13 15:47] joelthill commented on #13
after review with Martine:

![temp](https://user-images.githubusercontent.com/10212884/125482921-c3af6b38-238d-4dc7-aa94-db97d5e3735f.jpg)

there are indeed 7 occurences of alternative names of which only 6 have a title. see screenshot. It drills basically down to an export challenge, because for Clemens Willibrordus, there is no empty $c, but simply no $c subfield at all. The question is: do we f

[2021-07-13 15:52] joelthill commented on #18
after review with Martine:
we don't get the issue - please explain. why can the bot handle multivalue for other fields and fails for references?
does the CIDOC model allow multiple references?
normally, the number of URLs is identical to the number of textual references

[2021-07-13 15:54] joelthill commented on #19
comment from Martine:
is this the way it's meant to be? usually, we just have one reference for the whole item, and only in case you have specific references for specific statement, it will be worth using references-per-statement. (e.g. birth/death dates)

[2021-07-13 16:02] joelthill opened #24 "scope of import"
the iniital import file from the BNL contains roundabout 1000 entries of which we only found about 500 in the wiki. are there any specific rationales for what has been imported and what hasn't?
based on a short sample, we also found none of the entries from the ANLUX data set. haven't they been loaded at all for the moment?

[2021-07-13 16:05] joelthill opened #25 "name labels in different languages"
attributing language qualifiers to names (in the labels section at the very top of each item) may be problematic. where do these come from and how to handle them? for most of the persons, this is just not correct.

[2021-07-13 16:06] joelthill opened #26 "birth and death dates not loaded"
is this related to the EDTF plugin not yet installed?

[2021-07-13 16:09] joelthill opened #27 "type qualifier for preferred form missing"
type qualifier (direct/indeirect form) is loaded for alternative forms, but not for preferred form ?

[2021-07-13 16:12] joelthill opened #28 "relation between item name, name statement and labels?"
what is the relation between the 3+ occurences of "name" : item name (next to the Q-id), name statement (at the bottom) and labels in different languages? how are they loaded? how do they behave if any of them is modified?

why is the name statement at the very bottom of the statements (looks like the most important one)? can they be sorted differently?

[2021-07-14 07:48] mzeinstra commented on #24
@andrawaag can you answer this?

[2021-07-14 07:49] mzeinstra commented on #28
@joelthill it would be good to add a screenshot of what you are seeing to help us document an reply to this.

[2021-07-14 08:59] joelthill commented on #28
![Screenshot_2021-07-14 Zenner, Theodor(1)](https://user-images.githubusercontent.com/10212884/125594457-f714ce04-8093-4c81-8979-0ddcb4870c2b.png)
![Screenshot_2021-07-14 Zenner, Theodor](https://user-images.githubusercontent.com/10212884/125594460-76647028-8352-485f-b2d7-89c31879a51b.png)

[2021-07-15 08:30] mzeinstra opened #29 "Person needs to be part of a closed list"
We need to be able to set an item to "is instance of" "person"

Person is not part of a closed list yet.

[2021-07-15 08:34] digitaalwerktuig opened #30 "Statements can be created using their labels"
On the staging instance of Wikibase at the National Library (we still need to check if it's the same for WBstack), statements can be created using their lables, but only the property and qualifiers numbers.

[2021-07-15 08:37] mzeinstra commented on #29
To be more specific. https://lux-saf-beta.wiki.opencura.com/wiki/Item:Q78 is not automatically created on https://saf-dev.bnl.lu/

[2021-07-15 08:38] digitaalwerktuig commented on #30
Confirmed it works on WBstack.

[2021-07-15 08:42] digitaalwerktuig commented on #26
@andrawaag Can you answer this question?

[2021-07-15 08:42] digitaalwerktuig commented on #27
@andrawaag Is this expected behavior based on your script?

[2021-07-15 08:44] digitaalwerktuig commented on #28
I expect that after initial (bulk) import, they have to be maintained individually? Is this correct @andrawaag?

[2021-07-15 08:52] digitaalwerktuig commented on #19
We indeed intend to have source of information at both the per statement level, as the entire item level. Since the use case determines that it will be used at per statement level by exception, central maintenance is not an issue of concern.

Does this correspond with your current shape reference solution @labra?

@joelthill See https://github.com/weso/SAF-Lux/blob/main/shex/rules_1.0.1.shex line

[2021-07-15 08:57] digitaalwerktuig commented on #18
This is indeed only an issue when these numbers are identical, but can we guarantee that? We understood data providers should be able to mix. Hence this issue, signaling potential data issues.

[2021-07-15 09:15] #12 closed

[2021-07-15 09:17] digitaalwerktuig commented on #25
The current setup assumes the preffered name should be used for the labels section at the very top of the item. See heading:name in the Excel sheet.

[2021-07-15 09:17] #22 closed

[2021-07-15 09:24] mzeinstra commented on #30
This works:
<img width="924" alt="Screenshot 2021-07-15 at 10 42 33" src="https://user-images.githubusercontent.com/5627431/125764215-fa494ffd-8998-4086-b706-bc951b9d9523.png">
this does not work:
<img width="934" alt="Screenshot 2021-07-15 at 11 24 46" src="https://user-images.githubusercontent.com/5627431/125764344-84b038d2-cde6-4a96-8a49-047e837a70e8.png">

[2021-07-15 09:26] mzeinstra commented on #28
They are currently indeed replicated from the heading:name column of your test data.

But I think your issues is not the duplication, rather the sorting of statements?

[2021-07-15 09:29] mzeinstra commented on #27
@andrawaag I see that they are being selected on

           if row["Heading:Type"] == "1":
                qualifiers_name.append(wdi_core.WDItemID(value=qid["indirect name form"], prop_nr=qid["name format"], is_qualifier=True))
            elif row["Heading:Type"] == "0":
                qualifiers_name.append(wdi_core.WDItemID(value=qid["direct name form"], prop_nr=qid["name format"], is_qualif

[2021-07-15 09:31] mzeinstra commented on #25
Is this a duplicate of #28 ?

[2021-07-15 09:32] mzeinstra commented on #21
What do you need to resolve this issue?

[2021-07-15 09:32] mzeinstra commented on #20
What do you need to resolve this?

[2021-07-15 09:37] mzeinstra commented on #13
@andrawaag see above, do you want this fixed in the test set?

@joelthill I assume this will only be a problem for the test set, since in my mind you will be using the ShEx to structure the export information in a CIDOC-model. Right?

[2021-07-15 09:38] mzeinstra commented on #14
Does this need to be resolved in the test dataset? I'll leave it up to you two to resolve this.

[2021-07-15 09:40] mzeinstra commented on #15
Has links to #25

[2021-07-15 09:40] #15 closed

[2021-07-15 09:40] #16 closed

[2021-07-15 09:42] mzeinstra commented on #17
This depends on the libraries to be used by @joelthill and the requirements to have structured EDTF data in the test environment.

This could be work for 1024/professionalwiki to work on if this becomes a blocker

[2021-07-15 12:46] joelthill commented on #28
replication is an issue. dont' you agree that expecting manual handling of coherency is doomed from the start?
sorting is more like a cosmetic thing - even though I remember that some collegues from the business saw this differently when we first adressed this subject.

[2021-07-15 12:53] digitaalwerktuig commented on #28
I see your point regarding the replication and conseqent manual management of the coherency. But since I was working on an assuption in my response, it would be great if @andrawaag can also provide his response.

[2021-07-15 13:03] joelthill commented on #27
ok, but where is it in the WB?

for name:
![image](https://user-images.githubusercontent.com/10212884/125792589-a56d629b-28d7-413c-88b1-47781484160c.png)

for alternative name:
![image](https://user-images.githubusercontent.com/10212884/125792711-6414042d-ab91-49ac-8a12-09d9e8036c22.png)

[2021-07-15 13:12] joelthill commented on #13
yes, I share your view cc. the initial dataset. we'll be able to fix it in the Excel sheet if this makes sense for a future upload.

[2021-07-15 13:14] joelthill commented on #17
I agree.. reluctantly, but I agree. ;-)

[2021-07-15 13:18] mzeinstra commented on #17
Then @joelthill it might be good to see if you have a preferred library for your API calls to the Wikibase yet. If so we can see if EDTFneeds to be added there. Are you at that stage yet?

Otherwise I think we can close the ticket for now.

[2021-07-15 13:27] digitaalwerktuig commented on #27
@andrawaag Can you pitch in here?

[2021-07-16 07:29] andrawaag commented on #29
This is correct,  the CIDOC-CRM part of the scripts did not run on the https://saf-dev.bnl.lu/ instance, so none of the CIDOC-CRM terms are loaded there yet. The script did run on WBStack, hence its appearance there.

Adding it manually for now is indeed a good solution, until we settled on a CIDOC-CRM version.

[2021-07-16 07:51] andrawaag commented on #28
This is inherent to the Wikibase model. A Wikibase item consists of a header, set of statements and footer. In this example, the name is part of the header and the set of statements. At the header, it is not possible to add the provenance of the names, nor easily align with CIDOC-CRM. That is why it is replicated in the statements to both provide its provenance and mapping to CIDOC-CRM.
The header

[2021-07-16 08:51] andrawaag commented on #29
I have added the scripts used to instantiate the staging server to the Github repository. I also added a snippet to this python script to instantiate the person item.

[2021-07-16 08:51] #29 closed

[2021-07-16 09:38] andrawaag commented on #26
On WBStack the EDTF plugin is installed. However, EDTF, being a new plugin, is not yet (completely) supported by the import libraries. So it is possible to add EDTF dates manually, but not yet programmatically. Except maybe by writing a direct wrapper around the API.

[2021-07-16 09:39] #26 closed

[2021-07-16 09:49] andrawaag commented on #13
Using two-dimensional data frames to transport multidimensional records, will always lead to these types of issues. So I am a bit reluctant here. But defining a yaml or json alternative will take much more time.
I would not work with assumptions on order here, because that can lead to similar issues. The current script compares the number of separated fields and does not do anything if there is a

[2021-07-16 09:51] #6 closed

[2021-07-16 09:52] #7 closed

[2021-07-16 09:52] #8 closed

[2021-07-16 09:52] #9 closed

[2021-07-16 09:56] andrawaag commented on #11
To batch create properties on the staging server (SAF-DEV) a first python script has been created: https://github.com/weso/SAF-Lux/blob/main/import_scripts/property_builder/SAF-DEV-scripts/create_properties.py

[2021-07-16 09:56] #11 closed

[2021-07-16 09:58] andrawaag commented on #14
In the test script this was already fixed. This issue was more for future reference. So will close

[2021-07-16 09:58] #14 closed

[2021-07-16 10:02] andrawaag commented on #18
@joelthill It can handle multiple references, it only fails if there is a mismatch between the counts in multiple references captured in related fields (text and URL). This issue is similar to #13

[2021-07-16 10:08] andrawaag commented on #24
The initial import script is very conservative. In case of a mismatch between fields, the complete record is skipped. Issues surfaced at: #13 #18. Further more there are some checks in the import script on missing http headers.

The records were not imported based on some set of heuristics but added exactly as is. The missing records are due to data issues in the initial dataset

[2021-07-16 10:58] joelthill commented on #24
I would appreciate if we could drill-down on the reasons why so many items weren't imported.

[2021-07-16 11:03] mzeinstra commented on #24
@andrawaag do you have a log of record (row numbers) that were skipped?

[2021-07-16 11:36] andrawaag commented on #24
No not initially, but I fleshed the heuristics out of the prototype of the import script and created a [validation script](https://github.com/weso/SAF-Lux/blob/main/import_scripts/example_data/Validate%20example%20data.ipynb). Below is the list of skipped records and the reason:
row  0 Zorn, Wilhelm : Sources of information:Url lacks url header
row  3 Zanussi, Marc : Sources of information:Url lac

[2021-07-16 11:47] labra commented on #20
We may need to clarify the process to update/maintain the Excel sheet. I just added those notes so they were not lost. Maybe, if Michelle can take a look at them and see if she agrees so we can create a new version is enough.

[2021-07-16 11:48] digitaalwerktuig commented on #28
Thanks for the rundow @andrawaag. I think we need to add this autopmated replication of the name statement in the header to our requirements for D6.8 Automated data monitoring. What do you think @mzeinstra?

[2021-07-16 11:49] labra commented on #21
I think we only need that the author of the PDF diagram takes a look to the notes to see is they are right or not. Or we could define a procedure to keep the diagram updated.

[2021-07-16 12:02] mzeinstra commented on #24
So there are three problems:

Check1: There are 56 cases where there is no "Sources of information:Url"
Check2: There are 391 cases where the "Sources of information:Url" is not a valid URL, it does not start with http.
Check3: there is 1 row that has misaligned identifiers and identifiers name

Note that the validation script drops after finding the first error, the last check. Items dropped by c

[2021-07-16 12:09] mzeinstra commented on #21
I'll notify Michelle by mail on this issue.

[2021-07-16 13:10] joelthill commented on #24
Martine and I are working on this.

(1) isn't so obvious. we've found some items which look like they're rather supposed to be of error (2) kind, and others where we get the point and should be able to fix. the latter however raise a question about modelling: are we always able to provide the (text, url) tuple? what about paper sources that aren't referenced online? shouldn't we pass this one over

[2021-07-16 14:28] mzeinstra opened #31 "Ways to deduplicate exact duplicate statements"
I did a test on merging two records and even exact statements were merged. I expected that these were automatically deduplicated.

<img width="929" alt="Screenshot 2021-07-16 at 16 27 15" src="https://user-images.githubusercontent.com/5627431/125963369-11b40a37-ccd9-48f7-b5a6-e76730ac255b.png">

How does deduplication of exact statements work?

(this might not be a good issue for this repo)

[2021-07-16 14:30] mzeinstra opened #32 "Institutional Identifiers missing from properties import script"
It seems that CL8 is not implemented. This list needs to be treated the same as the external identifiers.

<img width="278" alt="Screenshot 2021-07-16 at 16 29 54" src="https://user-images.githubusercontent.com/5627431/125963770-13d34d30-8428-4258-9101-9d10e11dc6a6.png">

[2021-07-16 14:37] mzeinstra commented on #24
I also had a chat with Michelle, she said that it is not a strict requirement for an entity to have a source of information, so we can loosen that restriction completely.

Re: 2 I imagine that will fix itself when we are able to roundtrip information.

Giving this back to @andrawaag to see if he currently needs to do another ingestion.

[2021-07-16 14:40] andrawaag commented on #31
Can you share an example item? Given the values are identical, this should not occur.

[2021-07-16 14:54] andrawaag commented on #24
Re: 2. Not necessarily. Sometimes the distinction between http: and https: decides whether or not someone can access the resource. If the sourced infrastructure does not differentiate between http: and https: it is indeed fixable with a regex, or even within the script (i.e. add http:// for those URL's lacking those headers).

[2021-07-16 14:58] andrawaag commented on #24
regarding loosening the restriction. Sure this can be done. However, this import was done in the context of presenting a workflow to create a property space on an empty wikibase, for the purpose of demonstrating that model. This does not require high recall. If we continue with this server on wbstack for developer purposes, yes we should work towards higher recall.

[2021-07-19 08:03] mzeinstra commented on #31
Can't reproduce this on lux-saf-beta, it did happen on saf-dev.bnl.lu

[2021-07-19 12:00] michellePfeiffer commented on #5
For the current version of the data model (xls file)  reference has been made to  version 7.1.1. of CIDOC CRM

[2021-07-22 07:37] mzeinstra opened #33 "'Status' is an item, not a string"
I see that 'Status' is mapped to a string, but is has controlled list. Should status not be item?

<img width="952" alt="Screenshot 2021-07-22 at 09 37 07" src="https://user-images.githubusercontent.com/5627431/126604452-ede1f85d-cb10-4a44-8af6-2d43edba932d.png">

[2021-07-22 14:22] mzeinstra commented on #31
I could also not replicate this anymore on a the SAF-DEV server. closing..

[2021-07-22 14:22] #31 closed

[2021-07-24 07:40] andrawaag opened #34 "The field headers between the two example datasets differ."
`Export_SAF_LUX_10_dead can dance.xlsx` has field:  `Sources of information:Url`, `20210315-initial export anlux-jt.xlsx` does not.

`20210315-initial export anlux-jt.xlsx` has fields: `Notes:Notes` and `Notes:internal/public`, `Export_SAF_LUX_10_dead can dance.xlsx` does not.

I would recommend keeping the headers of different datasets consistent with a defined header set.

Validation script:
[co

[2021-07-24 07:55] andrawaag commented on #33
@mzeinstra Good catch. This needs to be fixed in the DM_SAF rules. It is defined as a string but from a controlled list. The controlled list mentioned in CL8 is a list of internal identifiers.

[2021-07-29 07:20] digitaalwerktuig commented on #33
@andrawaag Please refer to CL5 (not CL8). Can you add this to your property creator?

[2021-07-29 07:28] mzeinstra commented on #32
@andrawaag will you be able to include this in your script that sets up the data model?

[2021-07-29 20:14] labra opened #35 "Create a SAF-Lux vocabulary"
Following [linked data best practices]() It is a good practice in Semantic Web to define the properties and classes employed whose definition could be dereferenciable from the namespace.

As an example, the [ShEx schema](https://github.com/weso/SAF-Lux/blob/main/shex/rules_1.0.1.shex) is using some properties like `afl:value` or `afl:label` which could be defined at least in some RDF Schema as:

[

[2021-08-02 15:02] labra commented on #35
Trying to guess if `http://www.cidoc-crm.org/cidoc-crm` is the reference URI for CIDOC I tried to do:

[code]

and it redirects to version 5.0.4 which is outdated. The latest version at this moment is: 7.1.1 (see: http://www.cidoc-crm.org/versions-of-the-cidoc-crm).

I noticed that there is a machine readable specification in XML at: http://cidoc-crm.org/versions/cidoc_crm_v7.1.1.xml which is tran

[2021-08-03 07:30] mzeinstra commented on #35
The comments of show that this a really recent document:

`
CIDOC CRM v7.1.1 encoded in XML
--
  |  
  | This is the encoding approved by CRM-SIG in the meeting {{pending for approval}}.
  |  
  | Note that this is NOT a definition of the CIDOC CRM, but an encoding
  | derived from the authoritative release of the CIDOC CRM v7.1.1 May 2021 on
  | http://cidoc-crm.org/Version/version-7.1.1
  |  
 

[2021-08-03 07:50] labra commented on #35
Once we identify the right namespace for CIDOC-CRM and FRBROO properties, the only consequence is that we should use those namespaces in the different documents and RDF encodings. As an example, I already changed that in the new version of the ShEx document here: https://github.com/weso/SAF-Lux/blob/main/shex/rules_1.0.2.shex

I added a CHANGE LOG comment at the beginning to keep track of the diff

[2021-08-03 11:21] labra commented on #35
I have created a first version of the vocabulary that is automatically converted from the ShEx file using the code that is available at [shex2rdfs folder](https://github.com/weso/SAF-Lux/tree/main/shex2rdfs).

The rdfs file is available at [website/saf-vocabulary.ttl](https://github.com/weso/SAF-Lux/blob/main/website/saf-vocabulary.ttl)

I will close this issue by now and open further issues about

[2021-08-03 11:21] #35 closed

[2021-08-06 07:31] #30 closed

[2021-08-06 07:32] mzeinstra commented on #30
This has been fixed.

[2021-08-06 07:34] mzeinstra commented on #28
Moving this to the repo of BnL https://github.com/natliblux/saf-wikibase/issues/20

[2021-08-06 07:34] #28 closed

[2021-08-06 07:35] mzeinstra commented on #25
Moved this to https://github.com/natliblux/saf-wikibase/issues/20

[2021-08-06 07:35] #25 closed

[2021-08-06 07:43] #5 closed

[2021-08-06 08:14] mzeinstra opened #36 "Add michellePfeiffer as contributor to this repo"

[2021-08-17 16:46] kwisatz commented on #23
Btw, while playing around with ShEx validation, I found that e.g. [philip.ttl](https://github.com/weso/SAF-Lux/blob/main/examples/philip.ttl) currently maps `afl` to `http://data.culture.lu/ns/` while the [Shape Expression](https://github.com/weso/SAF-Lux/blob/main/shex/rules_1.0.2.shex) meant to validate the file points to `http://data.culture.lu/ns/saf/`.

I suppose the latter shall be the autho

[2021-08-18 07:27] mzeinstra commented on #23
http://data.culture.lu/ns/saf/ should be used as a placeholder until the ministry provides us with a place where we can publish the documentation.

[2021-09-09 13:18] #32 closed

[2021-09-10 10:41] digitaalwerktuig opened #38 "Change closed lists of status"
Based on discussions with the network the closed list for the items statusses has slightly changed. The property builder needs to reflect this. The current list of statusses is;

- Draft
- To be clarified
- To be validated
- Validated
- To be deleted / rejected
- To be published
- Published
- To be updated

[2021-09-17 07:48] mzeinstra opened #39 "Change literals to URI in SheX file"
Hi @kwisatz @labra @joelthill

Yesterday José asked if there were no objections to changing the literals in the closed lists of the SheX files into URI.

This has upstream effect in the ingestion pipeline that David and Joel are working on.

I spoke to Joel to see if this would provide any problems in his conversion tools, he said that he could easily change his logic to reflect this.

@kwisatz wo

[2021-09-17 09:09] kwisatz commented on #39
No, I don't think that this would have an impact on my work.

[2021-09-17 09:14] joelthill commented on #39
makes total sense

[2021-09-17 09:50] mzeinstra commented on #39
@labra please go ahead and make those changes to the ShEx.

[2021-09-17 12:43] mzeinstra commented on #38
I see "Updated" still in DM_SAF v.1.0.3 which is not in the list above. I also miss "To be deleted / rejected", which is in the list above, but not in DM_SAFv1.0.3.

@andrawaag could you update you DM_SAF v.1.0.3.?

[2021-09-20 11:04] labra commented on #39
I have done the pull request and merged it.

[2021-09-20 11:04] #39 closed

[2021-09-21 12:03] kwisatz commented on #39
@labra just letting you know what a shex file with version 1.0.3 has not yet been pushed to https://github.com/weso/SAF-Lux/tree/main/shex

[2021-09-21 22:39] labra commented on #39
Ops, you were right, I have created again the pull-request and now I think it is right.

[2021-09-28 07:45] joelthill opened #42 "E82 Actor appellation vs. E41 Appellation"
According to Michelle, it has been agreed to fully adopt CIDOC-CRM 7.1.1 vocabulary (instead of 6.2).
This would (as far as I can see at least) require a switch from "E41 Appllation" to "E82 Actor appellation".

---

here:

saflux:NameAppellation {
    rdf:type                       [ **crm:E41_Appellation** ]           ;
    efr:R8_consists_of             @saflux:Name                         ;

[2021-09-28 09:13] labra commented on #42
Yes, the version is CIDOC-CRM 7.1.1 and indeed we changed from E82_Actor_Appellation to E41_Appellation because the former is the one that I think is deprecated according to the [CIDOC-CRM spec](http://cidoc-crm.org/version/version-7.1.1), table 5 in Appendix (page 170).

Maybe, I read it wrong, but I understand that E82_Actor_Appellation is deprecated and should be replaced by E41_Appellation.

W

[2021-09-29 16:26] joelthill commented on #42
Clarified today with Michelle - you're right. no change required.

[2021-09-29 16:26] #42 closed

[2021-10-01 09:33] CNA-NP opened #43 "CSV structure for CNA data extractions"
Following the meeting on developing the Shared Authority File and the exchanges we had during the Data interfacing tooling parallel session, i'd like to ask via this issue if it would be possible to be provided with a structure for csv files to be sent to Joel for the testing of ingestions of CNA authority data in the Wikibase.
thanks in advance to anyone who could help.

N.

[2021-10-04 11:44] #43 closed

[2021-10-04 11:45] CNA-NP commented on #43
opened in export2cidoc

[2022-02-04 07:54] mzeinstra opened #46 "Please make this repo private"
We want to avoid confusion where network members can post issues.